/*
**********************************************************
Le corp principal de la page
**********************************************************
*/

#aboutBody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/project-background.jpg);
    background-size: 130vw;
    background-attachment: local;
    }

/*
**********************************************
Page titre du projects
*********************************************
*/

#titreProjects{
    color: var(--txtWhite);
padding: 15vw 0;
}
.destinProjects{
    background-color: var(--bgwhite);
    justify-content: flex-start;
    padding:20px 20px 50px 0;
}
 .titreSousProjects{
     justify-content: flex-start;  
     flex-direction: row;
 }

 .titreSousProjects p{
    font-weight:bold;
 }

 .titreSousProjects hr{
    margin: 10px;
    width: 100px;
 }

/*
**********************************************
Page projects
*********************************************
*/

.destinProjects div{
    width: 100%;
    align-items: start;
}

.destinProjects div article{
    margin: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 920px){
    #titreProjects{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/project-background.jpg);
        background-size: cover;
        background-position: top center;
        padding: 100px 0;
    }
}   

@media (max-width: 767px){
    .destinProjects{
        padding-bottom: 20px;
    }
}