/*
**********************************************************
Le corp principal de la page
**********************************************************
*/

#servicesBody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/services-bg.jpg);
    background-size: 130vw;
    background-attachment: local;
}

/*
**********************************************
Page titre de Service
*********************************************
*/

#titreServices{
    color: var(--txtWhite);
    padding: 12vw 0;
}

@media (max-width: 920px){
    #titreServices{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/services-bg.jpg);
        background-size: cover;
        background-position: top center;
        padding: 100px 0;
    }

}    

.sectionWrap{
    flex-wrap: wrap;
    max-width: 1024px;
}

.articleServices{
    width: 50%;
}


.eventAccueil .servTextLeft{
    text-align: left;

    
}

.ulInline{
    display: inline;
    list-style-image: url(../img/arrow.png);

}

@media (max-width: 767px){

    .articleServices{
        width: 100%;
    }



    .eventAccueil .servTextLeft{
        text-align: left;
       align-items: start;
    
        
    }

    .titreTextcenter{
        text-align: center;
    }
}

